html {
    background-color: #f0f0ef;
    font-family: 'Muli', sans-serif; /* Tried to find a font that looked closer to the example and thought this one fit pretty well. */
}

body {
    margin: 0; /*Finally remembered to remove the weird margin around the body/entire page! */
}
#sidebar {
    background-color: #535353;
    color: white;
    position: fixed;
    float: left;
    height: 100%;
    width: 250px;

}

blockquote {
    background-color: #e6e3de;
    border-left: gray 2px solid;
    padding-left: 15px;
    font-style: italic;
    color: gray;
}

#mainpage {
    margin-left:250px;
    padding: 40px 80px 40px 40px;
}

.titlebar {
    padding-bottom: 30px;
}

.titlebar h1{
    display: inline;
    padding-left: 10px;
    font-size: 36px;
}

.titlebar h5 {
    margin-bottom: 0px;
    color: gray;
}

